<manifest xmlns:android="http://schemas.android.com/apk/res/android"
package="com.example.android.capstone">

<application>
    <meta-data
        android:name="com.google.android.gms.ads.APPLICATION_ID"
        android:value="ca-app-pub-3940256099942544~3347511713"/>

    <activity android:name=".journal.JournalActivity" />
    <activity android:name=".userinfo.UserInfoActivity" />
    <activity
        android:name=".exercise_program.ExerciseProgramActivity"
        android:parentActivityName=".journal.JournalActivity">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".journal.JournalActivity" />
    </activity>
</application>
</manifest>
